body{
    max-width: 1800px;
    margin: auto;
    
    
}
  
.nav-bar{      /* Nav-bar*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 128, 0, 0.493);
    
}

.tools{
    width: calc(100% / 4 );
    height: 60px;
    background-color: rgba(0, 0, 255, 0.459);
}
#left-nav{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.486);
}

#right-nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 500px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.459);
}


           /* /nav-bar*/

          /* Jambo */
#jambo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1000px;
    background-color: rgba(153, 205, 50, 0.493);
}

#jambo-container{
    width: 1200px;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.432);
    
    
}

#jambo-title{
    width: 100%;
    height: 200px;
    background-color: rgba(173, 216, 230, 0.438);
    margin-bottom: 50px;
}

#jambo-title h1{
    font-size: 4em;
    text-align: center;
    padding-top: 30px;
}


#jambo-section{
    display: flex;
    gap: 20px;
    width: 100%;
    height: calc(100% - 250px);
    background-color: rgba(211, 211, 211, 0.473);
}

#jambo-text{
    width: 400px;
    height: 100%;
    
    background-color: rgba(173, 216, 230, 0.438);
}

#jambo-img{
    flex-grow: 1;
    height: 100%;
    background-color:  rgba(173, 216, 230, 0.438) ;
}
   /* /Jambo */

  /* main-sections*/

 .main-sections{
    display: flex;
    justify-content: center;
    width: 100%;
    
    background-color: rgba(0, 128, 0, 0.438);
 }  
.centered-container{
    width: 1000px;
    
    background-color: aqua;
}


/*first-section*/

#first-section h2{
    font-size: 2em;
}

#first-section #first-sect-title{
    width: 100%;
    background-color: bisque;
    margin-top: 100px;
    margin-bottom: 50px;
}

#first-section #first-sect-offers{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    background-color: bisque;
}

#first-section #first-sect-offers #monthly-sub{
    margin-right: 30px;
}

#table-container{
    display: flex;
    gap: 50px;
    width: 100%;
    height: 1000px;
    background-color: rgba(255, 0, 0, 0.397);
    margin-bottom: 50px;
}


#table-container .table{
    width: 33%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.466);
    
}

.users{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: coral;
    margin-bottom: 30px;
    
    
}

#last-table-sect{
    width: 100%;
    
    background-color: rgba(255, 0, 0, 0.397) ;
    
}

#last-table-header{
    display: flex;
    justify-content: space-between;
   
   width: 100%;
   background-color: coral;
}

#last-table-main{
    width: 800px;
    background-color: coral;
}

#last-table-main > div{
    margin-bottom: 100px;
    margin-top: 30px;
}
 
/* /first-section */

/*Second-section*/

#second-section{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 600px;
    background-color: rgba(255, 0, 0, 0.37);
    margin-bottom: 50px;
}

#second-sect-img{
    width: 60%;
    height: 400px;
    background-color:rgba(0, 0, 255, 0.226);  
}

#second-sect-text{
   width: 40%;
   height: 100%;
   background-color: rgba(0, 0, 255, 0.226); 
}

/* /Second-section*/


/*third-section*/

#third-section{
    width: 100%;
    
    background-color: blue;
}

#third-section h2{
    font-size: 2em;
    margin-bottom: 30px;
}


#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    
    background-color: darkblue;
}

.card{
    width: calc(100% / 3 - 20px);
    height: 300px;
    background-color: yellow;
}

#third-section-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 70%;
    height: 300px;
    background-color: aliceblue;
}

/* /third-section*/

/* last-section*/

#last-section-main{
    display: flex;
    width: 100%;
    height: 500px;
    
    background-color: green;
}

.square{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: 100%;
    background-color: lightgreen;
}


.inner-square{
    width: 50%;
    height: 50%;
    background-color: darkslategrey;
}

#last-section-footer{
    display: flex;
    justify-content: center;
    
    
    width: 100%;
    height: 250px;
    background-color: #b4d0e7;
}

.last-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    background-color: aqua;
    
    
}

#last-section-footer h2{
    color: #60082b;
}

/* /last-section*/

/* Faq */

#faq{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: white;
}

.faq-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1000px;
    height: 400px;
    background-color: aqua;

}

hr{
    border: 1px solid;
}

/* /faq*/


#credits{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

#credits-container{
    width: 1200px;
    background-color: lightgreen;
    margin-top: 100px;
}

#up-credits{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
}

#up-credits ul li{
  list-style-type: none;
}


.list-container{
    width: calc(100% / 5);
    height: 200px;
    background-color: #60082b;
}

#lasts-credits{
    display: flex;
    align-items: center;
    width: 230px;
    height: 200px;
    background-color: #60082b;
}